*{
    margin: 0px;
}

header {
    background-image: url("../img/backgroud_girl.jpg");
    background-position: center center;
    background-size: cover;
    height: 720px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
}

header h1 {
    color: black;
    font-size: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: 10px;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
   
}

header p {
    color: white;
    font-size: 70px;
    display: flex;
    margin: 0 80px;
    align-items:center;
}
 nav{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content:flex-end;
    align-items:flex-start;
    list-style-type: none;
   text-decoration: none;
   
}
 nav ul {
    
     display: flex;
   align-items:flex-end;
   list-style-type: none;
    list-style-position: inside;
    justify-content:space-between;
    margin: 0px;
    padding: 10px;
   
}
nav li{
   list-style: none;
   margin: 0 0px;
   padding: 0 0px;
}
nav li a{
     font-size: 20px;
     font-weight: bold;
     text-decoration: none;
     padding: 0 30px;
     color: black;
}

 .author  { 
     font-size: 30px;
     margin: 0 10px;
     color: black;
     display: flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;
 }
 
.info {
    display: flex;
     justify-content:flex-end;
    align-items:flex-start;
   margin: 0 10px;
}
.one{
     font-size: 30px;
     margin: 0 10px;
     color: black;
     display: flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;
}
.works  { 
     font-size: 30px;
    margin: 0 10px;
     color: black;
     display: flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;
 }
 
 .photo{
     margin-top: 10px;
     margin-right: 0px;
     margin-bottom: 10px;
     margin-left: 0px;
     padding: 0 0px;
     display: flex;
     flex-direction:row;
     justify-content:center;
     align-items:center;
    /*height: 200px;*/
 }
 
 .serv{
      font-size: 30px;
    margin: 0 10px;
     color: black;
     display: flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;
 }
 .bloc1{
      display: flex;
     flex-direction:row;
     justify-content:center;
     align-items:center;
 }
  .bloc2{
      margin: 0 10px;
      display: flex;
     flex-direction:row;
     justify-content:center;
     align-items:center;
 }
