* {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Muli', sans-serif;
    font-family: 'Muli', sans-serif;
}


header {
    background-image: url("../img/backgroud_girl.jpg");
    background-position: center center;
    background-size: cover;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header p {
    color: white;
    font-size: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner {
    margin-right: 5px;
}

@media screen and (max-width: 700px) {
    header p {
        display: none;
    }
    .conteiner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        font-size: 24px;
    }
    .info {
        position: relative;
    }
    .two img {
        width: 760px;
        height: auto;
        opacity: 0.4;
    }
    .top-menu {
        margin-top: 80px;
    }
    .top-menu ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: block;
    }
    .top-menu ul li {
        padding: 10;
        text-align: center;
        letter-spacing: 10px;
        /*-webkit-transition: .2s;*/
        /*transition: .2s;*/
    }
    .top-menu ul li:hover {
        letter-spacing: 5px;
        -webkit-transition: .2s;
        transition: .2s;
    }
    .top-menu ul li a {
        display: block;
        padding: 30px 0;
        font-weight: 1000;
        font-size: 30px;
        color: white;
    }
    nav {
        height: 80%;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}

@media screen and (max-width: 980px) {
    header p {
        font-size: 40px;
    }
}

@media screen and (max-width: 690px) {
    header p {
        font-size: 30px;
    }
    .two img {
        width: 1000px;
        height: auto;
        opacity: 0.4;
    }
}

@media screen and (max-width: 550px) {
    header p {
        display: none;
    }
    .conteiner {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-size: 18px;
    }
    .info {
        position: relative;
    }
    .two img {
        width: 600px;
        height: auto;
        opacity: 0.4;
    }
}

@media screen and (max-width: 490px) {
    .two img {
        width: 800px;
        height: auto;
        opacity: 0.4;
    }
}

@media screen and (max-width: 390px) {
    header p {
        font-size: 18px;
    }
    .two img {
        width: 1000px;
        height: auto;
        opacity: 0.4;
    }
}

nav {
    position: absolute;
    top: 10px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    list-style-type: none;
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    list-style-position: inside;
    justify-content: space-between;
    margin: 0px;
    padding: 10px;
}

nav li {
    list-style: none;
    margin: 0 0px;
    padding: 0 0px;
}

nav li a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 30px;
    color: black;
}

.top-menu li a {
    text-decoration: none;
    color: black;
}
.author {
    font-size: 30px;
    color: black;
    margin: 0 10px;
    padding-top: 50px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one img {
    height: 30px;
    margin: 0 auto;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    font-size: 18px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.works {
    font-size: 30px;
    color: black;
    margin: 0 10px;
    padding-top: 50px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kind {
    font-size: 30px;
    margin: 0 auto;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img {
    height: 200px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 0 0px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    margin-top: 10px;
    border: 3px black solid;
    width: 53%;
    display: flex;
    justify-content: center;
}

.next {
    display: flex;
    flex-direction: column;
}

.start {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1220px) {
    .photo {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .kind {
        font-size: 20px;
    }
}

.serv {
    font-size: 30px;
    color: black;
    margin: 0 10px;
    padding-top: 50px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc1 {
    width: 60%;
    font-size: 16px;
    margin-top: 10px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    list-style-position: inside;
}

.bloc2 {
    width: 60%;
    font-size: 16px;
    margin-top: 10px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    list-style-position: inside;
}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
}

.bloc1 li {
    width: 100%;
    list-style-type: none;
    margin: 0 auto;
}

.bloc2 li {
    width: 100%;
    list-style-type: none;
    margin: 0 auto;
}

.nature {
    border: 2px black solid;
    margin: 0 auto;
    background-color: #D7D7D7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.wedding {
    border: 2px black solid;
    margin: 0 auto;
    background-color: #E8EAEB;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.kids {
    border: 2px black solid;
    margin: 0 auto;
    background-color: #D7D7D7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.story {
    border: 2px black solid;
    margin: 0 auto;
    background-color: #E8EAEB;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

@media screen and (max-width: 920px) {
    .bloc1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        font-size: 18px;
    }
    .bloc2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        font-size: 18px;
    }
    .bloc1 ul {
        margin-bottom: 15px;
    }
    .bloc2 ul {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 500px) {
    .bloc1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .bloc2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
}

.flick_feed {
    font-size: 30px;
    color: black;
    margin: 0 10px;
    padding-top: 50px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myCarousel img {
    height: 350px;
}



@media screen and (max-width: 630px) {
    #all {
        display: none;
    }
}

.blog {
    font-size: 30px;
    color: black;
    margin: 0 10px;
    padding-top: 50px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog_macro_ph img {
    height: 200px;
    border: 2px black solid;
    display: flex;
    flex-direction: row;
}

.blog_macro_ph {
    margin: 0 auto;
    bottom: 10px;
    display: flex;
    align-items: center;
    list-style-type: none;
    list-style-position: inside;
    justify-content: center;
}

.blog_macro_ph2 img {
    border: 2px black solid;
    height: 300px;
}

.blog_macro_ph2 {
    font-size: 15px;
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    align-items: center;
    list-style-position: inside;
    justify-content: center;
}

@media screen and (max-width: 790px) {
    .blog_ph img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .blog_macro_ph {
        width: 90%;
        margin-left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bloc1_macro_ph,
    .img_no img {
        display: none;
    }
    .blog_macro_ph2 {
        display: none;
    }
}

.contact_me {
    font-size: 30px;
    color: black;
    margin: 0 10px;
    padding-top: 50px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 700px;
    height: 150px;
    padding: 12px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-align: center;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

@media screen and (max-width: 790px) {
    textarea {
        width: 400px;
        height: 70px;
    }
}

@media screen and (max-width: 500px) {
    .email {
        display: none;
    }
    .name_ {
        display: none;
    }
    textarea {
        width: 300px;
        height: 50px;
    }
}

.email {
    font-size: 15px;
    color: black;
    margin-right: 10px;
}

.name_ {
    font-size: 15px;
    color: black;
    margin-right: 10px;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#name_ {
    border: 2px solid #ccc;
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    color: black;
   
}

#e-mail {
    border: 2px solid #ccc;
    width: 300px;
    height: 30px;
     color: black;
}

.area {
    display: flex;
    justify-content: center;
}

.send {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.footer {
    height: 150px;
    background-color: black;
    color: white;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
}

.contacts li {
    margin-top: 5px;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.copyr {
    font-size: 20px;
    margin-top: 20px;
    margin-right: 40px;
}

@media screen and (max-width: 404px) {
    .copyr {
        font-size: 12px;
    }
}

.contacts li a {
    text-decoration: none;
    align-items: flex-end;
    justify-content: flex-end;
}

.contacts li a img {
    width: 30px;
}
